* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}

:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
margin:0;
background-color: #181818;
}


/* layout */

.wrapper {
  display: grid; 
  grid-template-columns: repeat(auto-fill, 22%); 
  grid-gap: 16px; 
  justify-content: center; 
}

/* Album */

.album {
  margin-bottom: 32px;
}

.album div:nth-child(2){
  margin-bottom:4px;
}

.album-name{
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
}

.artist-name {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  color: #a0a0a0;
  text-decoration: none;
}

.cover-image {
  width: 100%;
  height: auto;
}

/* tablet RESPONSIVE */
@media only screen and (max-width: 768px) {
  .wrapper {
  grid-template-columns: repeat(auto-fill, 40%); 
}

}



/* Mobile RESPONSIVE */

@media only screen and (max-width: 450px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, 90%); 
}
